extends ../layouts/common.pug
block content
    style
        include ../../public/style/film/styleDetail.css
    .item-detail
        each p in film
            .div-image
                .img
                    img(src="/image/"+p.image, alt="")
                    .cover-img
                .btn-select
                    button.blue Download
                    button.green Trailer
                    button.red Xem phim
            .info.ml-3
                .name-film.mt-2
                    span.name.ml-3=p.name
                    br
                    span.nameEnglish.ml-3=p.nameEnglish
                .info-detail.ml-3.pl-3.style-scroll
                    span Trạng thái: 
                    span=p.status
                    br
                    span Đạo diễn: 
                    span.text-different=p.director
                    br
                    span Quốc gia: 
                    each qg in p.country
                        -let x = ", "
                        span.text-different=qg.name
                    br
                    span Năm: 
                    span.text-different=p.year
                    br
                    span Thời lượng: 
                    if p.episodes !== "1"
                        - var x= " phút/tập"
                        span=p.time + x
                    else
                        -var x = " phút"
                        span=p.time + x
                    br
                    span Số tập: 
                    span=p.episodes
                    br
                    span Chất lượng: 
                    span=p.quality
                    br
                    span Độ phân giải: 
                    span=p.resolution
                    br
                    span Thể loại: 
                    each tl in p.category
                        -let x = ", " 
                        span.text-different=tl.name+x

